In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.sparse as sps
import scipy.io as io
import time
from scipy.sparse.linalg import svds
from sklearn import preprocessing

In [2]:
# read interactions file
train_final = pd.read_csv('../../input/train_final.csv', sep = '\t')
train_final['interaction'] = 1.0
train_final = train_final.sort_values(['playlist_id', 'track_id'], ascending=[True, True])
numberInteractions = train_final.shape[0]
print(train_final.iloc[:20,])

        playlist_id  track_id  interaction
770769         7569    162463          1.0
925571         7569    421750          1.0
912580         7569    795606          1.0
852833         7569   1195736          1.0
287048         7569   2227105          1.0
92449          7569   2634448          1.0
519471         7569   2654612          1.0
173680         7569   2693660          1.0
903004         7569   2861386          1.0
863056         7614    415173          1.0
278077         7614   1384962          1.0
394480         7614   1609224          1.0
615615         7614   1614974          1.0
328664         7614   1714787          1.0
377085         7614   2141817          1.0
83840          7614   2285204          1.0
574199         7614   3361942          1.0
481594         7614   3504896          1.0
300753         7614   3711434          1.0
775317         7614   3833025          1.0

In [3]:
# read target playlists which should receive a recommendation
target_playlists = pd.read_csv('../../input/target_playlists.csv', sep = '\t')
print(target_playlists.head())
print(target_playlists.shape)

   playlist_id
0     10024884
1     10624787
2      4891851
3      4267369
4        65078
(10000, 1)

In [4]:
# read target tracks
target_tracks = list(pd.read_csv('../../input/target_tracks.csv', sep = '\t')['track_id'])
target_tracks

[1316175,
 3885714,
 3091270,
 226759,
 230596,
 1093284,
 2293453,
 2994241,
 2871264,
 93835,
 1123498,
 2374491,
 1074412,
 2853886,
 821071,
 2709648,
 2933818,
 346111,
 66103,
 3638141,
 232971,
 2848406,
 3783264,
 2842670,
 3581982,
 3171591,
 2245591,
 871828,
 2713603,
 1175043,
 106982,
 3102164,
 1553840,
 2057826,
 3557550,
 2363848,
 1253516,
 503539,
 2617340,
 1790258,
 2956696,
 193328,
 303129,
 3608340,
 950730,
 1855305,
 3777248,
 1076555,
 1150702,
 3419354,
 726682,
 465271,
 2602747,
 1762406,
 1605205,
 1759620,
 2021651,
 709968,
 2972914,
 259990,
 1349043,
 3522735,
 1773876,
 2862475,
 106083,
 2820187,
 3612400,
 2881368,
 2083728,
 1935536,
 1585141,
 1444202,
 1248376,
 881160,
 1709123,
 1154985,
 2443976,
 2304545,
 4700754,
 1080646,
 1550729,
 793276,
 4486831,
 3868340,
 2642609,
 548753,
 2168844,
 5546,
 472924,
 1604514,
 3013929,
 2213950,
 717927,
 1245649,
 3250648,
 8287,
 881469,
 3242407,
 132362,
 2466040,
 2433491,
 426884,
 2843330,
 99006,
 156801,
 1812449,
 2965652,
 430640,
 1323440,
 1812248,
 1232003,
 1758265,
 399139,
 3688883,
 2752512,
 3647512,
 2270106,
 2811480,
 159478,
 1532765,
 2983892,
 2768037,
 2369313,
 3844120,
 1735368,
 128344,
 2158033,
 2860964,
 346105,
 2509658,
 3686435,
 867892,
 827790,
 2441467,
 1647276,
 577140,
 206081,
 2773840,
 3693399,
 3833266,
 3126660,
 2552769,
 2819549,
 2279127,
 3153292,
 1144927,
 2746391,
 3436108,
 1531118,
 2613592,
 1372536,
 3869441,
 1818481,
 1263578,
 2690938,
 1160423,
 1826701,
 698730,
 2021464,
 588186,
 3827726,
 1153196,
 3112869,
 2263687,
 3735699,
 1554979,
 881050,
 1678356,
 861066,
 1244158,
 2149194,
 3841925,
 1296641,
 494198,
 3319244,
 846527,
 519923,
 3374716,
 3423162,
 193143,
 2884690,
 3551574,
 2842361,
 2119041,
 3349955,
 3289033,
 3102301,
 2082672,
 3103272,
 1735196,
 2825579,
 307070,
 2915325,
 132199,
 1445156,
 1202189,
 1101445,
 125424,
 170620,
 1140794,
 858783,
 2364387,
 3250293,
 1503720,
 3659269,
 2130077,
 1561037,
 3735939,
 500772,
 3862861,
 1394361,
 224468,
 2802104,
 171388,
 3225704,
 3615419,
 2196104,
 1824400,
 3067198,
 3398822,
 1040641,
 2429704,
 1188721,
 686534,
 1625142,
 3065097,
 513661,
 200520,
 660962,
 2456102,
 2346545,
 1689610,
 3159698,
 2732766,
 1346156,
 3843554,
 908651,
 1308703,
 2816695,
 3078684,
 3087673,
 572956,
 3570539,
 3169212,
 502152,
 3231314,
 3839352,
 267609,
 3288409,
 3496602,
 3174792,
 308335,
 3142543,
 2551361,
 4647742,
 2634466,
 1888965,
 1673061,
 352903,
 1203398,
 3765082,
 4893998,
 2543184,
 2234458,
 3802437,
 594914,
 1571954,
 2691192,
 1083952,
 959718,
 3831518,
 2179277,
 2479356,
 2418325,
 3522661,
 2357675,
 1735538,
 2115413,
 281272,
 1750548,
 1909096,
 2704743,
 2289669,
 2586441,
 3065052,
 1767863,
 1439412,
 2948389,
 867007,
 2830222,
 2601256,
 2061992,
 3147598,
 538369,
 3470884,
 2154491,
 2464415,
 4606031,
 2835625,
 1570961,
 2793472,
 2253240,
 3738541,
 1503634,
 3387498,
 4735764,
 2810227,
 3159441,
 3833025,
 1832169,
 1083846,
 3438392,
 3495624,
 1152375,
 515713,
 2817833,
 2065296,
 3551573,
 594040,
 1373873,
 2235130,
 2756976,
 2188225,
 1756685,
 1234287,
 3126815,
 1549530,
 1885124,
 4799513,
 573540,
 1432469,
 1603129,
 2362473,
 3299723,
 183045,
 1570787,
 3428057,
 2540172,
 876038,
 1264406,
 1109267,
 378710,
 1735727,
 1503917,
 232891,
 2005830,
 1821419,
 2931411,
 614436,
 2637110,
 2214803,
 2316788,
 1120104,
 1290283,
 969187,
 169283,
 2053848,
 3226317,
 2065032,
 2038794,
 3768225,
 642244,
 1681758,
 2892957,
 3646525,
 1764811,
 1533748,
 3094107,
 1903795,
 2913350,
 2876299,
 2431543,
 3130062,
 2067741,
 2880865,
 1407432,
 188897,
 3362185,
 1885528,
 1115501,
 2804125,
 3473514,
 2654070,
 1251881,
 887459,
 677564,
 14949,
 3021373,
 2279346,
 2147991,
 573992,
 99313,
 193154,
 347403,
 229004,
 465475,
 1205313,
 1477219,
 3320726,
 2734974,
 3057703,
 1470252,
 1260635,
 1842905,
 2273852,
 3752887,
 1362491,
 1166047,
 3569603,
 2967307,
 3261338,
 3340752,
 3545594,
 105515,
 3554473,
 842487,
 14987,
 3142110,
 1564659,
 247753,
 2722155,
 2769314,
 1616681,
 1688674,
 2862458,
 1764386,
 2206360,
 2583079,
 2278448,
 1208195,
 620699,
 2547584,
 1277715,
 1563434,
 71398,
 2483775,
 2437920,
 2022556,
 2134676,
 2056439,
 2754843,
 94140,
 2053347,
 2234658,
 2610465,
 1298051,
 220583,
 2536494,
 303146,
 242330,
 2770492,
 281211,
 437557,
 443407,
 397585,
 491659,
 1778821,
 2140827,
 2582972,
 2844027,
 3436088,
 3518081,
 1934018,
 2955152,
 2246278,
 2851655,
 3746344,
 1867054,
 677403,
 162922,
 3040308,
 61819,
 2594453,
 2826371,
 3803916,
 1690046,
 636185,
 3029844,
 1163927,
 2277911,
 1874535,
 3307209,
 4758293,
 3666035,
 2361623,
 3078191,
 3289881,
 3293060,
 1992329,
 3510068,
 1882373,
 1751919,
 1369455,
 3864579,
 1139683,
 3746235,
 1189325,
 2065733,
 2820170,
 2739123,
 597783,
 3495065,
 2018091,
 1075106,
 1735326,
 862156,
 2021816,
 891552,
 1250232,
 897323,
 3408749,
 2960887,
 1289194,
 1794575,
 853067,
 2594565,
 3703409,
 2646235,
 535330,
 3210310,
 2179373,
 3628787,
 2515167,
 1929037,
 353622,
 1596727,
 92561,
 683888,
 322677,
 2325146,
 2888126,
 1764883,
 2719811,
 120083,
 2786023,
 1184201,
 3215172,
 1241240,
 3056035,
 1581447,
 2477466,
 288125,
 1210840,
 808769,
 3098632,
 1571900,
 2804577,
 2787770,
 1987307,
 257976,
 1890750,
 1175048,
 2491202,
 3171216,
 1855117,
 2862472,
 1620775,
 3324542,
 2985095,
 2926606,
 1359346,
 2556917,
 2754961,
 879631,
 2608149,
 926061,
 2902983,
 4885610,
 14961,
 372686,
 851901,
 2499958,
 1161798,
 1713395,
 2491408,
 3574878,
 1820739,
 1610494,
 1345432,
 3377067,
 2814969,
 2086132,
 1360712,
 1053894,
 1561483,
 4616810,
 1871425,
 1044672,
 1246249,
 3514339,
 3291264,
 3161377,
 2111123,
 2457553,
 3299667,
 3423414,
 1732948,
 2645105,
 2218955,
 2694258,
 1439442,
 3557484,
 2442554,
 612633,
 282620,
 2180725,
 3240625,
 3103329,
 649868,
 2027988,
 2262385,
 2015578,
 1532738,
 2327938,
 1255332,
 3360103,
 887785,
 878100,
 1121322,
 3377578,
 2723870,
 1267520,
 3556874,
 3741701,
 1133309,
 2789185,
 99376,
 1120986,
 2643201,
 2570506,
 2337270,
 855602,
 1746248,
 3387031,
 3389853,
 376360,
 811115,
 1721423,
 2384201,
 1075262,
 2834447,
 2150500,
 1332173,
 1962853,
 2172556,
 1291684,
 1600918,
 1538988,
 2742602,
 3508086,
 1011111,
 911564,
 1551254,
 3305034,
 1576270,
 564894,
 2823949,
 148949,
 3826365,
 2695918,
 522340,
 564249,
 1515895,
 3087260,
 222855,
 2466970,
 356436,
 2206963,
 2234399,
 1534222,
 2722967,
 2500072,
 1447647,
 3726925,
 468549,
 1242886,
 858806,
 1708538,
 3075850,
 2938527,
 2544517,
 1968606,
 456521,
 1554047,
 415682,
 516389,
 1625718,
 2121624,
 3436154,
 2460527,
 2882283,
 641481,
 1675600,
 964476,
 506042,
 3886533,
 1340955,
 2206553,
 867334,
 1423438,
 569165,
 846322,
 634158,
 2225648,
 2843480,
 2998998,
 1111169,
 1155563,
 270419,
 2206335,
 2723419,
 2009512,
 3822505,
 3786821,
 1433007,
 3387155,
 533595,
 1672019,
 280934,
 2553774,
 2534416,
 2697312,
 811645,
 2320071,
 1492176,
 1081487,
 1615927,
 2782245,
 3287171,
 3028290,
 2677323,
 2565868,
 14928,
 544028,
 2578714,
 3161259,
 2234430,
 2067547,
 166563,
 3362238,
 3569552,
 3177615,
 3674267,
 3325143,
 2836239,
 1729584,
 1838607,
 940299,
 163460,
 439696,
 320099,
 2956087,
 1608852,
 3381059,
 2478732,
 3470350,
 2980951,
 2543959,
 2770411,
 1387930,
 1135036,
 2256533,
 1363859,
 1988142,
 97254,
 727878,
 2872954,
 2057154,
 3045616,
 357728,
 3700786,
 4741612,
 1395361,
 3888448,
 3715624,
 2747293,
 3287874,
 681191,
 2364170,
 1057692,
 3435419,
 1438238,
 1816334,
 2747322,
 1118542,
 3677231,
 3785296,
 2882303,
 3518147,
 1260597,
 2993752,
 3787141,
 233386,
 730778,
 1875947,
 3233963,
 1450332,
 2363451,
 618781,
 3703974,
 279325,
 2440249,
 180342,
 193318,
 2071994,
 726178,
 2425610,
 2121634,
 2891123,
 2271077,
 477429,
 1247113,
 1136360,
 3021647,
 3416923,
 1364799,
 522347,
 263556,
 170717,
 443283,
 2328190,
 3833715,
 2391120,
 2612530,
 2284904,
 3559163,
 565126,
 1321358,
 1212743,
 825794,
 515448,
 692988,
 1770828,
 2034573,
 3066916,
 3037397,
 2686375,
 1798030,
 278291,
 1188793,
 2399368,
 2700818,
 1764255,
 3084931,
 3245677,
 851603,
 396101,
 826672,
 657696,
 849825,
 2083473,
 2399055,
 1216799,
 2783982,
 1659523,
 559989,
 2216048,
 500735,
 1735519,
 429344,
 2257567,
 1045078,
 1356576,
 3408631,
 3577002,
 1480404,
 2265634,
 3830191,
 2464534,
 1191101,
 1426066,
 499440,
 435260,
 3054336,
 3423050,
 2940543,
 449350,
 443085,
 3016045,
 517902,
 1843220,
 1797943,
 2537612,
 2895558,
 1109389,
 2754778,
 2319856,
 910628,
 3660934,
 416288,
 1345519,
 1805836,
 3669241,
 3784214,
 320980,
 3031507,
 2587499,
 165801,
 3617501,
 60351,
 3370480,
 3870658,
 2493461,
 375879,
 2187965,
 2530282,
 330859,
 2512785,
 3007735,
 1307606,
 2868444,
 1979375,
 343262,
 3660326,
 99100,
 2022907,
 1649426,
 2499292,
 3632584,
 956908,
 3629210,
 365768,
 3016906,
 3168725,
 1242801,
 1922449,
 2525237,
 658167,
 1935221,
 1978089,
 322252,
 3156449,
 1303813,
 3022024,
 593825,
 2104863,
 1134966,
 820687,
 1081394,
 2226550,
 315506,
 162640,
 550267,
 3198488,
 3296433,
 290693,
 2393702,
 3438955,
 3091541,
 3389104,
 3172809,
 192866,
 2009544,
 194982,
 3032990,
 1133399,
 2440666,
 1781985,
 3373519,
 2594341,
 706415,
 1427028,
 3668239,
 280492,
 1275241,
 504734,
 3703315,
 1388188,
 1445410,
 1450,
 2053293,
 1437613,
 797259,
 2250517,
 3469078,
 3850689,
 883301,
 375930,
 1447233,
 356655,
 555950,
 2340644,
 710194,
 172535,
 2271702,
 1688864,
 424538,
 3605209,
 3553535,
 1277748,
 946582,
 1043249,
 3196289,
 2647754,
 672498,
 4403604,
 2316827,
 2152542,
 2192310,
 1384949,
 ...]

In [5]:
# read tracks_final which should receive a recommendation
tracks_final = pd.read_csv('../../input/tracks_final.csv', sep = '\t')
print(tracks_final.head())
print(tracks_final.shape)

   track_id  artist_id  duration  playcount   album  \
0   2972914        144    224000       49.0     [7]
1   2750239        246    157000        1.0     [8]
2   1550729        144    217000      554.0     [9]
3   2169950        144    207000      200.0     [9]
4   1903709        144    198000        5.0  [None]

                                     tags
0     [54087, 1757, 1718, 116712, 189631]
1   [189631, 3424, 177424, 46208, 205245]
2   [54087, 109806, 46869, 183258, 54337]
3  [54087, 70618, 207003, 109806, 116712]
4   [54087, 81223, 116712, 215342, 71028]
(100000, 6)

In [6]:
playlist_id = list(train_final['playlist_id'])
track_id = list(train_final['track_id'])
interaction = list(train_final['interaction'])
print(playlist_id[:10])
print(track_id[:10])
print(interaction[:10])

[7569, 7569, 7569, 7569, 7569, 7569, 7569, 7569, 7569, 7614]
[162463, 421750, 795606, 1195736, 2227105, 2634448, 2654612, 2693660, 2861386, 415173]
[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [7]:
playlist_id_unique = list(set(playlist_id))
track_id_unique = list(set(track_id))
playlist_id_unique.sort()
playlist_id_unique = pd.DataFrame(playlist_id_unique)
playlist_id_unique.reset_index(level=0, inplace=True)
playlist_id_unique.columns = ['index_playlist', 'playlist_id']
#track_id_unique.sort()
track_id_unique = pd.DataFrame(track_id_unique)
track_id_unique.reset_index(level=0, inplace=True)
track_id_unique.columns = ['index_track', 'track_id']
print(track_id_unique.head())
print(playlist_id_unique.head())

   index_track  track_id
0            0   1048594
1            1   2359314
2            2   1835030
3            3   3670041
4            4   1048604
   index_playlist  playlist_id
0               0         7569
1               1         7614
2               2         7641
3               3         7692
4               4         7816

In [8]:
train_intermediate = train_final.merge(playlist_id_unique, how='inner', on='playlist_id')
train_index = train_intermediate.merge(track_id_unique, how='inner', on='track_id')
train_index = train_index.sort_values(['playlist_id', 'track_id'], ascending=[True, True])
train_index

         playlist_id  track_id  interaction  index_playlist  index_track
0               7569    162463          1.0               0        62358
87              7569    421750          1.0               0        60999
116             7569    795606          1.0               0         3009
125             7569   1195736          1.0               0        55563
195             7569   2227105          1.0               0        49116
198             7569   2634448          1.0               0         4229
241             7569   2654612          1.0               0        12230
253             7569   2693660          1.0               0        26479
263             7569   2861386          1.0               0        93022
298             7614    415173          1.0               1        58038
343             7614   1384962          1.0               1        27294
347             7614   1609224          1.0               1        13601
356             7614   1614974          1.0               1        15634
363             7614   1714787          1.0               1        53615
386             7614   2141817          1.0               1        16590
395             7614   2285204          1.0               1        73955
637             7614   3361942          1.0               1        85282
652             7614   3504896          1.0               1        36036
658             7614   3711434          1.0               1        15436
670             7614   3833025          1.0               1        62692
675             7641    251674          1.0               2        96788
707             7641    257968          1.0               2        98517
782             7641    813563          1.0               2         9609
800             7641   1341128          1.0               2        11023
826             7641   1446467          1.0               2        51471
845             7641   3502548          1.0               2        35204
857             7641   3711129          1.0               2        15316
896             7641   3825235          1.0               2        58878
899             7692     88210          1.0               3        32883
909             7692    266898          1.0               3         1416
...              ...       ...          ...             ...          ...
516237      11765404   1035913          1.0           45645        96126
188053      11765404   1109467          1.0           45645        22366
923782      11765404   1615270          1.0           45645        15720
352441      11765404   1913997          1.0           45645        29162
1027348     11765404   2003154          1.0           45645        65155
466906      11765404   2364217          1.0           45645         1470
355897      11765404   2977441          1.0           45645        34832
304295      11765404   3160104          1.0           45645         4811
870327      11765404   3386952          1.0           45645        93359
651273      11765404   3753842          1.0           45645        31077
484991      11765405    236614          1.0           45646        92150
152844      11765405    657677          1.0           45646        50508
377738      11765405   2016269          1.0           45646        70764
377759      11765405   2420944          1.0           45646        22689
985482      11765405   3365813          1.0           45646        86751
720398      11765405   3712161          1.0           45646        15640
50412       11766293    568472          1.0           45647        16463
1039884     11766362     89199          1.0           45648        33298
921631      11766362    261470          1.0           45648        99821
516213      11766362    394153          1.0           45648        49925
934532      11766362    512935          1.0           45648        96440
434524      11766362    732266          1.0           45648        82390
157916      11766362    881801          1.0           45648        35446
643656      11766362   1228905          1.0           45648        70261
821713      11766362   1584166          1.0           45648         3570
931123      11766362   1865246          1.0           45648        10930
631731      11766362   2733715          1.0           45648        42204
641463      11766362   2760410          1.0           45648        52556
356563      11766362   2826156          1.0           45648        80986
536668      11766362   3098864          1.0           45648        84985

[1040522 rows x 5 columns]

In [9]:
tracks_final = tracks_final.merge(track_id_unique, how='inner', on='track_id')
tracks_final

,track_id,artist_id,duration,playcount,album,tags,index_track
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]",33328
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]",48728
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]",93035
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]",26668
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]",25248
5,2256817,144,218000,2.0,[9],"[54087, 109806, 189631, 49166, 116712]",61032
6,2561768,928,223000,249.0,[26],"[50764, 4425, 11056, 205245, 81223]",79968
7,474864,928,193000,73.0,[22],"[205245, 81223, 11056, 267, 3982]",84079
8,1378455,928,304000,73.0,[22],"[11056, 205245, 81223, 189631, 84597]",24944
9,1523190,928,206000,10.0,[22],"[205245, 11056, 81223, 4425, 189631]",83966
10,1373492,928,237000,2896.0,[22],"[81223, 11056, 205245, 189631, 3982]",23189
11,3387498,928,245000,9622.0,[31],"[81223, 189631, 205245, 4425, 50764]",93488
12,699524,928,294000,22.0,[26],"[11056, 205245, 81223, 4425, 189631]",68140
13,2438345,928,261000,140.0,[22],"[81223, 267, 153432, 205245, 11056]",29183
14,47604,943,274000,299.0,[38],"[116047, 116198, 9916, 157591, 116155]",17580
15,2721759,943,398000,2069.0,[39],"[116047, 50604, 116155, 50764, 154891]",37511
16,2403860,951,119000,1220.0,[None],"[270790, 94963, 154565, 218154, 147254]",16551
17,2169517,1004,142000,2645.0,[68],"[195173, 87736, 205245, 3668, 91326]",26505
18,3521362,1115,359000,46.0,[105],"[205245, 3668, 189631, 404, 46208]",42671
19,3266139,1115,176000,5950.0,[105],"[3668, 205245, 189631, 222627, 404]",45715
20,1184201,1115,302000,5950.0,[105],"[201327, 3668, 46208, 205245, 189631]",51403
21,3056035,1115,176000,7.0,[105],"[205245, 3668, 46208, 189631, 193464]",67042
22,808769,1115,320000,4920.0,[105],"[3668, 46208, 189631, 205245, 222627]",7778
23,3719527,1115,279000,860.0,[105],"[3668, 46208, 189631, 205245, 237465]",18163
24,1660078,1115,225000,2130.0,[105],"[46208, 3668, 205245, 404, 189631]",32487
25,1558356,1115,319000,2130.0,[None],"[3668, 205245, 189631, 46208, 177424]",95371
26,1362023,1115,208000,76.0,[105],"[3668, 46208, 205245, 189631, 222627]",18762
27,2862472,1115,231000,46.0,[105],"[205245, 46208, 3668, 404, 189631]",93305
28,1360712,1146,235000,286.0,[128],"[83064, 201327, 66729, 42894, 207510]",18335
29,1605090,1146,277000,366.0,[129],"[66729, 66925, 201327, 207510, 2249]",11720
...,...,...,...,...,...,...,...
99969,1692386,138616,-1,NaN,[],[],45298
99970,61785,416812,-1,NaN,[],[],22774
99971,661177,198190,-1,NaN,[],[],51771
99972,2902268,175645,-1,NaN,[],[],72329
99973,1121976,412615,-1,NaN,[],[],26910
99974,896846,567363,-1,NaN,[],[],41574
99975,1443142,438316,-1,NaN,[],[],50080
99976,3802893,151656,-1,NaN,[],[],50281
99977,952988,282494,-1,NaN,[],[],64491
99978,3767313,568165,-1,NaN,[],[],36196
99979,2160661,438316,-1,NaN,[],[],23460
99980,2009713,81679,-1,NaN,[],[],67907
99981,3245676,141151,-1,NaN,[],[],37340
99982,2701342,570588,-1,NaN,[],[],87340
99983,192379,293220,-1,NaN,[],[],75706
99984,2556756,28040,-1,NaN,[],[],77955
99985,410715,375154,-1,NaN,[],[],56089
99986,5615,438316,-1,NaN,[],[],1703
99987,3413225,545402,-1,NaN,[],[],1590
99988,1887748,286091,-1,NaN,[],[],19288
99989,1559115,438316,-1,NaN,[],[],95658
99990,348847,391715,-1,NaN,[],[],32261
99991,2839226,336775,-1,NaN,[],[],85864
99992,2996304,370929,-1,NaN,[],[],42356
99993,2278635,403027,-1,NaN,[],[],70895
99994,3022399,293937,-1,NaN,[],[],52503
99995,1320641,510388,-1,NaN,[],[],3208
99996,2584455,27938,-1,NaN,[],[],88590
99997,2299706,373892,-1,NaN,[],[],80014
99998,2739985,567363,-1,NaN,[],[],44892

In [10]:
index_playlist = list(train_index['index_playlist'])
index_track = list(train_index['index_track'])
interaction = list(train_index['interaction'])
print(index_playlist[:10])
print(index_track[:10])
print(interaction[:10])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[62358, 60999, 3009, 55563, 49116, 4229, 12230, 26479, 93022, 58038]
[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [11]:
URM_all = sps.coo_matrix((interaction, (index_playlist, index_track)))
URM_all = URM_all.tocsr()
URM_all

<45649x99999 sparse matrix of type '<class 'numpy.float64'>'
	with 1040522 stored elements in Compressed Sparse Row format>

In [12]:
import json
tracks_final['tags'] = tracks_final.tags.apply(json.loads)

In [13]:
tags_list = []
for index, row in tracks_final.iterrows():
    if len(row['tags']) != 0:
        for i in row['tags']:
            tags_list.append([row['index_track'], i, 1])

In [14]:
test = pd.DataFrame(tags_list)
test.columns = ['index_track', 'tag', 'interaction']
test

        index_track     tag  interaction
0             33328   54087            1
1             33328    1757            1
2             33328    1718            1
3             33328  116712            1
4             33328  189631            1
5             48728  189631            1
6             48728    3424            1
7             48728  177424            1
8             48728   46208            1
9             48728  205245            1
10            93035   54087            1
11            93035  109806            1
12            93035   46869            1
13            93035  183258            1
14            93035   54337            1
15            26668   54087            1
16            26668   70618            1
17            26668  207003            1
18            26668  109806            1
19            26668  116712            1
20            25248   54087            1
21            25248   81223            1
22            25248  116712            1
23            25248  215342            1
24            25248   71028            1
25            61032   54087            1
26            61032  109806            1
27            61032  189631            1
28            61032   49166            1
29            61032  116712            1
...             ...     ...          ...
483466        42269   40701            1
483467        42269  117167            1
483468        42269   11957            1
483469        42269  153432            1
483470        42269   11056            1
483471        22892   40701            1
483472        22892  117167            1
483473        22892  159079            1
483474        22892   45739            1
483475        22892  263481            1
483476        30756  256796            1
483477        30756  256902            1
483478        30756  276430            1
483479        30756  189631            1
483480        30756   80874            1
483481        97327   31253            1
483482        97327   46208            1
483483        97327   31015            1
483484        97327  205245            1
483485        97327  228096            1
483486        87236   31253            1
483487        87236  205245            1
483488        87236     431            1
483489        87236   46208            1
483490        87236  276604            1
483491        81850   46208            1
483492        81850  205245            1
483493        81850   31253            1
483494        81850  276605            1
483495        81850  228096            1

[483496 rows x 3 columns]

In [15]:
test.columns = ['index_track', 'tag', 'interaction']
track_list = list(test['index_track'])
tag_list = list(test['tag'])
interaction_list = list(test['interaction'])

In [16]:
le = preprocessing.LabelEncoder()
le.fit(tag_list)
taglist_icm = le.transform(tag_list)
print(taglist_icm.max())
print(type(taglist_icm))

31897
<class 'numpy.ndarray'>

In [17]:
test['tag'].nunique()

31898

In [18]:
ICM = sps.coo_matrix((interaction_list, (track_list, taglist_icm)))
ICM

<99999x31898 sparse matrix of type '<class 'numpy.int64'>'
	with 483496 stored elements in COOrdinate format>