In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# read interactions file
train_final = pd.read_csv('../input/train_final.csv', sep = '\t')
print(train_final.head())
print(train_final.shape)

# read target tracks which need to be recommended
target_tracks = pd.read_csv('../input/target_tracks.csv', sep = '\t')
target_tracks['value'] = 1
print(target_tracks.head())
print(target_tracks.shape)

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623
(1040522, 2)
   track_id  value
0   1316175      1
1   3885714      1
2   3091270      1
3    226759      1
4    230596      1
(32195, 2)

In [3]:
# count occurences of tracks in all playlists and sort descending
tr_agg = pd.DataFrame(train_final.groupby('track_id').playlist_id.nunique())
tr_agg.reset_index(level=0, inplace=True)
tr_agg.columns = ['track_id', 'number_pl']
tr_agg = tr_agg.sort_values('number_pl',ascending=False)

# filter on target tracks
tr_agg = tr_agg.merge(target_tracks, on='track_id', how='inner')
print(tr_agg[:20])
print(tr_agg.shape)

    track_id  number_pl  value
0    1563309        476      1
1    1363985        432      1
2    3705881        425      1
3    1595978        403      1
4    3166665        391      1
5    3779477        390      1
6     204966        387      1
7    2863395        370      1
8    1580480        349      1
9    1156143        346      1
10   1321053        339      1
11    209196        330      1
12    675104        324      1
13   3796108        317      1
14    276186        315      1
15   1074579        307      1
16   1286763        306      1
17   3628787        306      1
18   2339150        306      1
19   1495432        304      1
(32194, 3)

In [4]:
# read target playlists which should receive a recommendation
target_playlists = pd.read_csv('../input/target_playlists.csv', sep = '\t')
print(target_playlists.head())
print(target_playlists.shape)

   playlist_id
0     10024884
1     10624787
2      4891851
3      4267369
4        65078
(10000, 1)

In [5]:
# filter interaction dataframe, to retain only target playlists
train = train_final.merge(target_playlists, how='inner', on='playlist_id')
print(train.shape)
print(train['playlist_id'].nunique())

(362661, 2)
10000

In [6]:
# aggregate to playlist level and coerce tracks in that playlist to list
train_agg = train.groupby(by='playlist_id').track_id.apply(list).to_frame()
print(type(train_agg))
print(train_agg.head())

<class 'pandas.core.frame.DataFrame'>
                                                      track_id
playlist_id
7614         [2285204, 1384962, 3711434, 1714787, 2141817, ...
7692         [3036454, 1439032, 302730, 384386, 1559442, 21...
7816         [2305305, 1039409, 2674817, 126414, 2350576, 2...
8225         [2285204, 1891198, 3102263, 1464491, 2800858, ...
8337         [1210884, 1157460, 1205536, 451881, 3131838, 3...

### Basic top popular submission without correction

In [7]:
target_playlists['track_ids'] = '1563309 1363985 3705881 1595978 3166665'
print(target_playlists.head())

   playlist_id                                track_ids
0     10024884  1563309 1363985 3705881 1595978 3166665
1     10624787  1563309 1363985 3705881 1595978 3166665
2      4891851  1563309 1363985 3705881 1595978 3166665
3      4267369  1563309 1363985 3705881 1595978 3166665
4        65078  1563309 1363985 3705881 1595978 3166665

In [8]:
target_playlists.to_csv('../submission/toppopular_basic.csv', index=False)

### Top popular submission with correction when top tracks already in the playlist

In [9]:
# initialize new column with empty lists, to append the recommended songs
train_agg['recommend'] = np.empty((len(train_agg), 0)).tolist()
train_agg.reset_index(level=0, inplace=True)
train_agg

      playlist_id                                           track_id recommend
0            7614  [2285204, 1384962, 3711434, 1714787, 2141817, ...        []
1            7692  [3036454, 1439032, 302730, 384386, 1559442, 21...        []
2            7816  [2305305, 1039409, 2674817, 126414, 2350576, 2...        []
3            8225  [2285204, 1891198, 3102263, 1464491, 2800858, ...        []
4            8337  [1210884, 1157460, 1205536, 451881, 3131838, 3...        []
5            8369  [2165768, 826559, 2699378, 701941, 2890532, 10...        []
6            8446  [1081426, 3117244, 3785721, 3522428, 357883, 2...        []
7            8559  [1188811, 3455524, 396062, 949534, 1831605, 21...        []
8            8636  [3287306, 1786440, 3628787, 1955849, 813919, 2...        []
9            9344  [3108703, 497514, 1891090, 1529980, 2103878, 2...        []
10           9444  [1304572, 1721424, 3031400, 1035755, 221278, 2...        []
11          10050  [3637072, 1025853, 3622066, 3197875, 2836896, ...        []
12          10732  [3659094, 1999188, 2302721, 3089530, 335105, 3...        []
13          11314  [3044962, 3306542, 2234240, 1906019, 3698360, ...        []
14          12268  [1896905, 1068545, 4528344, 1059740, 2813083, ...        []
15          13164  [234315, 1715853, 161916, 12528, 453673, 30963...        []
16          13957  [2917629, 519961, 801924, 2174893, 2284910, 38...        []
17          14097  [161861, 3021710, 166468, 280934, 701946, 2719...        []
18          14632  [2845644, 891585, 2989688, 1492176, 2836298, 3...        []
19          14952  [225524, 3746436, 2449952, 1308698, 674217, 71...        []
20          15069  [5662, 1209230, 3305775, 445531, 187052, 42696...        []
21          15761  [1260556, 204591, 1818862, 1818481, 2256944, 5...        []
22          15791  [443085, 593825, 727325, 113366, 2378962, 1820...        []
23          16022  [3474942, 2060524, 3194362, 683614, 183350, 33...        []
24          16226      [1489013, 1671934, 3295910, 1341702, 3008199]        []
25          16923  [1738840, 549642, 1782665, 1204001, 1586716, 5...        []
26          17129  [485579, 3151575, 2762445, 2083607, 3414324, 7...        []
27          17136  [1874783, 2752044, 2215393, 2448296, 2897521, ...        []
28          18357  [1812227, 1715211, 2330337, 695212, 2924347, 1...        []
29          19159  [3440644, 1277748, 3840933, 1782672, 3159969, ...        []
...           ...                                                ...       ...
9970     11745754  [3261018, 2965564, 2325156, 160001, 2172844, 3...        []
9971     11746230  [3037096, 2977371, 504155, 2375825, 2691049, 1...        []
9972     11746321  [2302592, 3779365, 942373, 1057001, 792877, 22...        []
9973     11746648           [3424, 412021, 3309974, 938450, 2696829]        []
9974     11746847         [171698, 131589, 2699441, 2741675, 416366]        []
9975     11747192  [2282220, 2448296, 1349707, 2182989, 2999747, ...        []
9976     11747577  [2677100, 1724708, 680211, 2645551, 3582459, 2...        []
9977     11748030  [3114557, 2092128, 622501, 2313911, 2855, 3666...        []
9978     11749065  [2570487, 477445, 3839434, 2696962, 3028665, 3...        []
9979     11750413  [3697200, 115609, 4636226, 2457546, 1295848, 3...        []
9980     11751707  [1871354, 561162, 3188057, 4616810, 1743102, 1...        []
9981     11756453      [3172320, 2765601, 2613376, 2295039, 1160596]        []
9982     11756978  [2320010, 1075999, 1701757, 2362473, 2419295, ...        []
9983     11757152  [2650382, 2800858, 2126056, 470055, 2613384, 2...        []
9984     11757993  [3753911, 346055, 1639877, 619837, 2236488, 59...        []
9985     11758192  [268860, 599473, 3629437, 1721636, 3362300, 26...        []
9986     11758194  [1090880, 73909, 814804, 2136608, 1670963, 223...        []
9987     11758534  [1571582, 416373, 3232826, 3554610, 1941133, 2...        []
9988     11759272  [1565305, 284204, 3711250, 3110359, 3434676, 2...        []
9989     11760554  [696706, 1067559, 3091338, 3672865, 1467673, 3...        []
9990     11761318      [3254754, 1752207, 3794036, 2234834, 2875461]        []
9991     11761351  [4548465, 829795, 3288409, 1796102, 493111, 27...        []
9992     11761555  [2479079, 156721, 1575209, 3534168, 2601340, 2...        []
9993     11762181  [1067223, 1136543, 440943, 499440, 25116, 1751...        []
9994     11762595  [244350, 3157940, 2588756, 2673161, 827942, 30...        []
9995     11764027  [2967714, 497803, 2009118, 2644788, 3166665, 1...        []
9996     11764851  [1781238, 2903586, 2273349, 2570471, 1691108, ...        []
9997     11765404  [2003154, 1109467, 3386952, 2977441, 1615270, ...        []
9998     11765405  [236614, 2016269, 2420944, 3712161, 3365813, 6...        []
9999     11766362  [1228905, 881801, 394153, 3098864, 1865246, 27...        []

[10000 rows x 3 columns]

In [10]:
tr_agg

       track_id  number_pl  value
0       1563309        476      1
1       1363985        432      1
2       3705881        425      1
3       1595978        403      1
4       3166665        391      1
5       3779477        390      1
6        204966        387      1
7       2863395        370      1
8       1580480        349      1
9       1156143        346      1
10      1321053        339      1
11       209196        330      1
12       675104        324      1
13      3796108        317      1
14       276186        315      1
15      1074579        307      1
16      1286763        306      1
17      3628787        306      1
18      2339150        306      1
19      1495432        304      1
20      3862221        301      1
21      2730084        300      1
22      2547173        294      1
23      2840855        294      1
24      2609171        294      1
25      4733003        293      1
26      2981369        292      1
27      3498036        291      1
28       889547        281      1
29      1210884        281      1
...         ...        ...    ...
32164   1164082          1      1
32165   2807728          1      1
32166   3774823          1      1
32167   2139877          1      1
32168    294000          1      1
32169    279788          1      1
32170    223072          1      1
32171   3007549          1      1
32172   3783998          1      1
32173   1082407          1      1
32174   2948037          1      1
32175   2086791          1      1
32176   4432895          1      1
32177   2374802          1      1
32178   2866686          1      1
32179   2009745          1      1
32180   3856860          1      1
32181   2288975          1      1
32182     85737          1      1
32183   3075890          1      1
32184   1768678          1      1
32185   2259594          1      1
32186   3776568          1      1
32187   2997775          1      1
32188   2158453          1      1
32189   3648585          1      1
32190   1391556          1      1
32191   1775520          1      1
32192   3837751          1      1
32193   3126457          1      1

[32194 rows x 3 columns]

In [11]:
# loop over playlists
for index, row in train_agg.iterrows():
    count = 1
    # loop over top popular songs
    for index_tr, row_tr in tr_agg.iterrows():
        if count < 6 and row_tr['track_id'] not in row['track_id']:
            row['recommend'].append(row_tr['track_id'])
            count += 1
        elif count >= 6:
            break

In [12]:
# look at result
train_agg

,playlist_id,track_id,recommend
0,7614,"[2285204, 1384962, 3711434, 1714787, 2141817, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
1,7692,"[3036454, 1439032, 302730, 384386, 1559442, 21...","[1563309, 1363985, 3705881, 1595978, 3166665]"
2,7816,"[2305305, 1039409, 2674817, 126414, 2350576, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
3,8225,"[2285204, 1891198, 3102263, 1464491, 2800858, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
4,8337,"[1210884, 1157460, 1205536, 451881, 3131838, 3...","[1563309, 1363985, 3705881, 1595978, 3779477]"
5,8369,"[2165768, 826559, 2699378, 701941, 2890532, 10...","[1563309, 1363985, 3705881, 1595978, 3166665]"
6,8446,"[1081426, 3117244, 3785721, 3522428, 357883, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
7,8559,"[1188811, 3455524, 396062, 949534, 1831605, 21...","[1563309, 1363985, 3705881, 1595978, 3166665]"
8,8636,"[3287306, 1786440, 3628787, 1955849, 813919, 2...","[1563309, 1363985, 1595978, 3166665, 204966]"
9,9344,"[3108703, 497514, 1891090, 1529980, 2103878, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
10,9444,"[1304572, 1721424, 3031400, 1035755, 221278, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
11,10050,"[3637072, 1025853, 3622066, 3197875, 2836896, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
12,10732,"[3659094, 1999188, 2302721, 3089530, 335105, 3...","[1563309, 1363985, 3705881, 1595978, 3166665]"
13,11314,"[3044962, 3306542, 2234240, 1906019, 3698360, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
14,12268,"[1896905, 1068545, 4528344, 1059740, 2813083, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
15,13164,"[234315, 1715853, 161916, 12528, 453673, 30963...","[1563309, 1363985, 3705881, 1595978, 3166665]"
16,13957,"[2917629, 519961, 801924, 2174893, 2284910, 38...","[1563309, 1363985, 3705881, 1595978, 3166665]"
17,14097,"[161861, 3021710, 166468, 280934, 701946, 2719...","[1563309, 1363985, 3705881, 1595978, 3166665]"
18,14632,"[2845644, 891585, 2989688, 1492176, 2836298, 3...","[1563309, 1363985, 3705881, 1595978, 3166665]"
19,14952,"[225524, 3746436, 2449952, 1308698, 674217, 71...","[1563309, 1363985, 3705881, 1595978, 3166665]"
20,15069,"[5662, 1209230, 3305775, 445531, 187052, 42696...","[1563309, 1363985, 3705881, 1595978, 3166665]"
21,15761,"[1260556, 204591, 1818862, 1818481, 2256944, 5...","[1563309, 1363985, 3705881, 1595978, 3166665]"
22,15791,"[443085, 593825, 727325, 113366, 2378962, 1820...","[1563309, 1363985, 3705881, 1595978, 3166665]"
23,16022,"[3474942, 2060524, 3194362, 683614, 183350, 33...","[1563309, 1363985, 3705881, 1595978, 3166665]"
24,16226,"[1489013, 1671934, 3295910, 1341702, 3008199]","[1563309, 1363985, 3705881, 1595978, 3166665]"
25,16923,"[1738840, 549642, 1782665, 1204001, 1586716, 5...","[1563309, 1363985, 3705881, 1595978, 3166665]"
26,17129,"[485579, 3151575, 2762445, 2083607, 3414324, 7...","[1563309, 1363985, 3705881, 1595978, 3166665]"
27,17136,"[1874783, 2752044, 2215393, 2448296, 2897521, ...","[1563309, 3705881, 1595978, 3166665, 3779477]"
28,18357,"[1812227, 1715211, 2330337, 695212, 2924347, 1...","[1563309, 1363985, 3705881, 1595978, 3166665]"
29,19159,"[3440644, 1277748, 3840933, 1782672, 3159969, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
...,...,...,...
9970,11745754,"[3261018, 2965564, 2325156, 160001, 2172844, 3...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9971,11746230,"[3037096, 2977371, 504155, 2375825, 2691049, 1...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9972,11746321,"[2302592, 3779365, 942373, 1057001, 792877, 22...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9973,11746648,"[3424, 412021, 3309974, 938450, 2696829]","[1563309, 1363985, 3705881, 1595978, 3166665]"
9974,11746847,"[171698, 131589, 2699441, 2741675, 416366]","[1563309, 1363985, 3705881, 1595978, 3166665]"
9975,11747192,"[2282220, 2448296, 1349707, 2182989, 2999747, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9976,11747577,"[2677100, 1724708, 680211, 2645551, 3582459, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9977,11748030,"[3114557, 2092128, 622501, 2313911, 2855, 3666...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9978,11749065,"[2570487, 477445, 3839434, 2696962, 3028665, 3...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9979,11750413,"[3697200, 115609, 4636226, 2457546, 1295848, 3...","[1363985, 3705881, 1595978, 3166665, 3779477]"
9980,11751707,"[1871354, 561162, 3188057, 4616810, 1743102, 1...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9981,11756453,"[3172320, 2765601, 2613376, 2295039, 1160596]","[1563309, 1363985, 3705881, 1595978, 3166665]"
9982,11756978,"[2320010, 1075999, 1701757, 2362473, 2419295, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9983,11757152,"[2650382, 2800858, 2126056, 470055, 2613384, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9984,11757993,"[3753911, 346055, 1639877, 619837, 2236488, 59...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9985,11758192,"[268860, 599473, 3629437, 1721636, 3362300, 26...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9986,11758194,"[1090880, 73909, 814804, 2136608, 1670963, 223...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9987,11758534,"[1571582, 416373, 3232826, 3554610, 1941133, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9988,11759272,"[1565305, 284204, 3711250, 3110359, 3434676, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9989,11760554,"[696706, 1067559, 3091338, 3672865, 1467673, 3...","[1563309, 1363985, 3705881, 3166665, 3779477]"
9990,11761318,"[3254754, 1752207, 3794036, 2234834, 2875461]","[1563309, 1363985, 3705881, 1595978, 3166665]"
9991,11761351,"[4548465, 829795, 3288409, 1796102, 493111, 27...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9992,11761555,"[2479079, 156721, 1575209, 3534168, 2601340, 2...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9993,11762181,"[1067223, 1136543, 440943, 499440, 25116, 1751...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9994,11762595,"[244350, 3157940, 2588756, 2673161, 827942, 30...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9995,11764027,"[2967714, 497803, 2009118, 2644788, 3166665, 1...","[1363985, 3705881, 1595978, 3779477, 204966]"
9996,11764851,"[1781238, 2903586, 2273349, 2570471, 1691108, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9997,11765404,"[2003154, 1109467, 3386952, 2977441, 1615270, ...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9998,11765405,"[236614, 2016269, 2420944, 3712161, 3365813, 6...","[1563309, 1363985, 3705881, 1595978, 3166665]"
9999,11766362,"[1228905, 881801, 394153, 3098864, 1865246, 27...","[1563309, 1363985, 3705881, 1595978, 3166665]"

In [13]:
# Convert list to string with spaces between track_ids
train_agg['recommend'] = train_agg['recommend'].apply(lambda x: " ".join(map(str, x)))

In [14]:
train_agg

,playlist_id,track_id,recommend
0,7614,"[2285204, 1384962, 3711434, 1714787, 2141817, ...",1563309 1363985 3705881 1595978 3166665
1,7692,"[3036454, 1439032, 302730, 384386, 1559442, 21...",1563309 1363985 3705881 1595978 3166665
2,7816,"[2305305, 1039409, 2674817, 126414, 2350576, 2...",1563309 1363985 3705881 1595978 3166665
3,8225,"[2285204, 1891198, 3102263, 1464491, 2800858, ...",1563309 1363985 3705881 1595978 3166665
4,8337,"[1210884, 1157460, 1205536, 451881, 3131838, 3...",1563309 1363985 3705881 1595978 3779477
5,8369,"[2165768, 826559, 2699378, 701941, 2890532, 10...",1563309 1363985 3705881 1595978 3166665
6,8446,"[1081426, 3117244, 3785721, 3522428, 357883, 2...",1563309 1363985 3705881 1595978 3166665
7,8559,"[1188811, 3455524, 396062, 949534, 1831605, 21...",1563309 1363985 3705881 1595978 3166665
8,8636,"[3287306, 1786440, 3628787, 1955849, 813919, 2...",1563309 1363985 1595978 3166665 204966
9,9344,"[3108703, 497514, 1891090, 1529980, 2103878, 2...",1563309 1363985 3705881 1595978 3166665
10,9444,"[1304572, 1721424, 3031400, 1035755, 221278, 2...",1563309 1363985 3705881 1595978 3166665
11,10050,"[3637072, 1025853, 3622066, 3197875, 2836896, ...",1563309 1363985 3705881 1595978 3166665
12,10732,"[3659094, 1999188, 2302721, 3089530, 335105, 3...",1563309 1363985 3705881 1595978 3166665
13,11314,"[3044962, 3306542, 2234240, 1906019, 3698360, ...",1563309 1363985 3705881 1595978 3166665
14,12268,"[1896905, 1068545, 4528344, 1059740, 2813083, ...",1563309 1363985 3705881 1595978 3166665
15,13164,"[234315, 1715853, 161916, 12528, 453673, 30963...",1563309 1363985 3705881 1595978 3166665
16,13957,"[2917629, 519961, 801924, 2174893, 2284910, 38...",1563309 1363985 3705881 1595978 3166665
17,14097,"[161861, 3021710, 166468, 280934, 701946, 2719...",1563309 1363985 3705881 1595978 3166665
18,14632,"[2845644, 891585, 2989688, 1492176, 2836298, 3...",1563309 1363985 3705881 1595978 3166665
19,14952,"[225524, 3746436, 2449952, 1308698, 674217, 71...",1563309 1363985 3705881 1595978 3166665
20,15069,"[5662, 1209230, 3305775, 445531, 187052, 42696...",1563309 1363985 3705881 1595978 3166665
21,15761,"[1260556, 204591, 1818862, 1818481, 2256944, 5...",1563309 1363985 3705881 1595978 3166665
22,15791,"[443085, 593825, 727325, 113366, 2378962, 1820...",1563309 1363985 3705881 1595978 3166665
23,16022,"[3474942, 2060524, 3194362, 683614, 183350, 33...",1563309 1363985 3705881 1595978 3166665
24,16226,"[1489013, 1671934, 3295910, 1341702, 3008199]",1563309 1363985 3705881 1595978 3166665
25,16923,"[1738840, 549642, 1782665, 1204001, 1586716, 5...",1563309 1363985 3705881 1595978 3166665
26,17129,"[485579, 3151575, 2762445, 2083607, 3414324, 7...",1563309 1363985 3705881 1595978 3166665
27,17136,"[1874783, 2752044, 2215393, 2448296, 2897521, ...",1563309 3705881 1595978 3166665 3779477
28,18357,"[1812227, 1715211, 2330337, 695212, 2924347, 1...",1563309 1363985 3705881 1595978 3166665
29,19159,"[3440644, 1277748, 3840933, 1782672, 3159969, ...",1563309 1363985 3705881 1595978 3166665
...,...,...,...
9970,11745754,"[3261018, 2965564, 2325156, 160001, 2172844, 3...",1563309 1363985 3705881 1595978 3166665
9971,11746230,"[3037096, 2977371, 504155, 2375825, 2691049, 1...",1563309 1363985 3705881 1595978 3166665
9972,11746321,"[2302592, 3779365, 942373, 1057001, 792877, 22...",1563309 1363985 3705881 1595978 3166665
9973,11746648,"[3424, 412021, 3309974, 938450, 2696829]",1563309 1363985 3705881 1595978 3166665
9974,11746847,"[171698, 131589, 2699441, 2741675, 416366]",1563309 1363985 3705881 1595978 3166665
9975,11747192,"[2282220, 2448296, 1349707, 2182989, 2999747, ...",1563309 1363985 3705881 1595978 3166665
9976,11747577,"[2677100, 1724708, 680211, 2645551, 3582459, 2...",1563309 1363985 3705881 1595978 3166665
9977,11748030,"[3114557, 2092128, 622501, 2313911, 2855, 3666...",1563309 1363985 3705881 1595978 3166665
9978,11749065,"[2570487, 477445, 3839434, 2696962, 3028665, 3...",1563309 1363985 3705881 1595978 3166665
9979,11750413,"[3697200, 115609, 4636226, 2457546, 1295848, 3...",1363985 3705881 1595978 3166665 3779477
9980,11751707,"[1871354, 561162, 3188057, 4616810, 1743102, 1...",1563309 1363985 3705881 1595978 3166665
9981,11756453,"[3172320, 2765601, 2613376, 2295039, 1160596]",1563309 1363985 3705881 1595978 3166665
9982,11756978,"[2320010, 1075999, 1701757, 2362473, 2419295, ...",1563309 1363985 3705881 1595978 3166665
9983,11757152,"[2650382, 2800858, 2126056, 470055, 2613384, 2...",1563309 1363985 3705881 1595978 3166665
9984,11757993,"[3753911, 346055, 1639877, 619837, 2236488, 59...",1563309 1363985 3705881 1595978 3166665
9985,11758192,"[268860, 599473, 3629437, 1721636, 3362300, 26...",1563309 1363985 3705881 1595978 3166665
9986,11758194,"[1090880, 73909, 814804, 2136608, 1670963, 223...",1563309 1363985 3705881 1595978 3166665
9987,11758534,"[1571582, 416373, 3232826, 3554610, 1941133, 2...",1563309 1363985 3705881 1595978 3166665
9988,11759272,"[1565305, 284204, 3711250, 3110359, 3434676, 2...",1563309 1363985 3705881 1595978 3166665
9989,11760554,"[696706, 1067559, 3091338, 3672865, 1467673, 3...",1563309 1363985 3705881 3166665 3779477
9990,11761318,"[3254754, 1752207, 3794036, 2234834, 2875461]",1563309 1363985 3705881 1595978 3166665
9991,11761351,"[4548465, 829795, 3288409, 1796102, 493111, 27...",1563309 1363985 3705881 1595978 3166665
9992,11761555,"[2479079, 156721, 1575209, 3534168, 2601340, 2...",1563309 1363985 3705881 1595978 3166665
9993,11762181,"[1067223, 1136543, 440943, 499440, 25116, 1751...",1563309 1363985 3705881 1595978 3166665
9994,11762595,"[244350, 3157940, 2588756, 2673161, 827942, 30...",1563309 1363985 3705881 1595978 3166665
9995,11764027,"[2967714, 497803, 2009118, 2644788, 3166665, 1...",1363985 3705881 1595978 3779477 204966
9996,11764851,"[1781238, 2903586, 2273349, 2570471, 1691108, ...",1563309 1363985 3705881 1595978 3166665
9997,11765404,"[2003154, 1109467, 3386952, 2977441, 1615270, ...",1563309 1363985 3705881 1595978 3166665
9998,11765405,"[236614, 2016269, 2420944, 3712161, 3365813, 6...",1563309 1363985 3705881 1595978 3166665
9999,11766362,"[1228905, 881801, 394153, 3098864, 1865246, 27...",1563309 1363985 3705881 1595978 3166665

In [15]:
# rename columns for submission
final = train_agg[['playlist_id','recommend']]
final.columns = ['playlist_id','track_ids']

In [16]:
print(final.head())

   playlist_id                                track_ids
0         7614  1563309 1363985 3705881 1595978 3166665
1         7692  1563309 1363985 3705881 1595978 3166665
2         7816  1563309 1363985 3705881 1595978 3166665
3         8225  1563309 1363985 3705881 1595978 3166665
4         8337  1563309 1363985 3705881 1595978 3779477

In [18]:
# export file
final.to_csv('../submission/toppopular_advanced.csv', index=False)

Mögliche Gründe warum der Score nicht besser wird:
- eventuell müsste man die Top Tracks nur aus den 10.000 target playlists berechnen...
- vielleicht kann man die Target Tracks noch irgendwie weiter einschränken